/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%;
  font: inherit; */
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styles */
body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  max-width: 1440px;
  background-image: url("./images/pattern-background-desktop.svg");
  /* display: flex;
  flex: 1;
  align-items: center;
  justify-content: center; */
}

.card {
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 200px;
  max-width: 445px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
}

.illustration {
  border-radius: 20px 20px 0 0;
}

h1 {
  font-weight: 900;
  color: #2f3133;
  font-size: 22px;
  margin-top: 40px;
}

p {
  color: #8e91a9;
}

.description {
  width: 300px;
  text-align: center;
  margin-top: 25px;
}

.summary {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.summary-value {
  display: flex;
  flex-direction: column;
  margin-left: -70px;
}
.title {
  font-weight: 900;
  color: #2f3133;
  margin-bottom: 5px;
}

.btn-summary-change a {
  color: #6358c9;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.btn-summary-change a:hover {
  color: #8b82ea;
}

.btn-payment {
  background-color: #382ae1;
  border: none;
  border-radius: 10px;
  width: 75%;
  padding: 13px;
  text-align: center;
  margin-top: 50px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.btn-payment:hover {
  background-color: #766cf1;
}
.btn-cancel {
  margin-top: 25px;
  margin-bottom: 25px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #8e91a9;
  cursor: pointer;
  font-weight: 700;
}

.btn-cancel:hover {
  color: hsl(219, 32%, 21%);
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .card {
    margin: 50px auto;
    max-width: 320px;
  }
  .illustration {
    max-width: 320px;
  }
  .summary {
    padding-right: 15px;
    padding-left: 20px;
  }
  .btn-payment {
    padding: 20px;
  }
  .btn-cancel {
    font-size: 14px;
  }
}
